* {
    background-color:#f4f6f8;
}

.titulo-1 {
    text-align: center;
    color: #b11226;
}

.subtitulo-1 {
    color: #2f3a4a;
}

.subtitulo-2 {
    color: #2f3a4a;
}
.subtitulo-3 {
    color: #2f3a4a;
}
.subtitulo-4 {
    color:#444;
}
.subtitulo-5 {
    color: #2f3a4a;
}

.imagen1 {
    width: 400px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /*crea como una sombra */
    filter: brightness(1.1) contrast(1.05); /*pone brillo y contasre a la imagen */
    transition: transform 0.3s ease; /* es como una transicion suave */
    
}